* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: bold 15px "Arial", sans-serif;
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
  overflow: hidden;
  user-select:none; /* standard syntax */
  -webkit-user-select:none; /* for Chrome、Safari */
  -moz-user-select:none; /* for Mozilla、Firefox */
}
select{
  display:inline-block;
  vertical-align:middle;
  padding: 2px;
  width: 100%;
  max-width: 100%;
}
input {
  text-align: center;
}
label {
  font: bold 0.8em "Arial", sans-serif;
}
textarea, input {
  background: rgba(255,255,255,0.1);
  border: 0.15rem solid #37eac3;
  height: 100%;
  width: 100%;
  min-height: 20px;
  min-width: 100px;
  resize: none;
  margin: 0;
  padding: 10px;
  outline: 0;
  background-color: #e8eeef;
  color: #434547;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03);
  font: bold 15px "Arial", sans-serif;
}
legend {
  font-size: 1.1em;
  margin-bottom: 10px;
}
.wrapper {
  max-width: 100%;
  max-height: 100%;
}
.tabs {
  display: flex;
  background: #1abc9c;
  height: 100%;
  margin: 20px;
}
.tabs::before,.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  width: calc(100% - 40px); /* Adjust the margin as needed */
  height: calc(100% - 75px); /* Adjust the margin as needed */
  margin: 20px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  background-image: url("asserts/back.jpg");
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
.number {
  background-color: rgb(221, 21, 171);
  color: #fff;
  height: 25px;
  width: 25px;
  display: inline-block;
  font-size: 1.1em;
  margin-right: 4px;
  line-height: 25px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.left-control{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-style: inset;
  min-width: 250px;
}
.center-control {
  display: flex;
  flex-direction: column;
  flex: 25%;
  width: auto;
  height: 100%;
  padding: 12px;
  min-width: 300px;
}
.right-control{
  display: flex;
  flex-direction: column;
  flex: 30%;
  width: 100%;
  height: 100%;
  resize: both;
  padding: 12px;
  min-width: 50px;
}
.center{
  height: 35%;
  box-sizing: border-box;
  overflow: hidden;
}
.center-end{
  height: 30%;
  box-sizing: border-box;
  background-color: black;
}
.splitter{
  width: 5px;
  border: #d81b1b;
  background-color:rgb(249, 252, 249);
  height:100%;
  cursor:w-resize;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap:10px;
  grid-auto-rows: 20px;
  padding: 10px;
}
.button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  padding: 10px;
  margin:5px 5px;
  column-gap:10px;
  row-gap: 10px;
  /* height: 100%; */
  background-color: #d7deda;
}
button{
  background:radial-gradient(farthest-corner at 0px 0px, white 0%, rgb(22, 66, 60) 12%);
  border-style: outset;
  border-width: 0px;
  border-radius: 5px;
  font: normal 13px "Arial", sans-serif;
  height: auto;
  min-width: 100px;
  min-height: 40px;
  max-height: 40px;
  color: #fff;
  cursor:pointer;
}
button:active {
  background:radial-gradient(farthest-corner at 0px 0px, white 0%, rgba(106, 245, 106, 0.932) 12%);
  color: black;
  border: medium solid green;
}
button#connect:active {
  background:radial-gradient(farthest-corner at 0px 0px, white 0%, rgba(1, 161, 1, 0.932) 12%);
}
button#disconnect:active {
  background:radial-gradient(farthest-corner at 0px 0px, white 0%, rgb(245, 71, 71) 12%);
  border: medium solid rgb(243, 63, 51);
}
.combine-container {
  flex: 1;
  position: relative;
}
.textarea-container {
  flex: 1;
  position: relative;
}
.textarea-container textarea {
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}